<footer>
<p>
  The code is maintained by <a href="https://twitter.com/rido">@ridomin</a> based on the work from <a href="https://twitter.com/philhawksworth">Phil Hawksworth</a>.  
 
 Find the repo on <a href="{{ pkg.repository.url }}">Github</a>.
</p>
<p>
  This page was generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p>
</footer>
